/*   LOGO   */
.logo{
  padding-top: 10px;
  padding-right: 20px;
  width: 14%;
  float: right;
}

/*   HAMBURGER MENU   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header{
  border-bottom: 1px solid #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
}

.nav-link:hover{
  color: #c0c0a5;
}


@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
}
/*   END MENU  */

/*   TEXT STYLING   */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

p{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  text-align: left;
  line-height: 1.7;
  margin-left: 350px;
  margin-right: 350px;
}

h6{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 9px;
}

h5{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 11px;
}


h4{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 12px;
}

h3{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 30px;
}

h2{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  font-size: 25px;
}

h1{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-left: 250px;
  margin-right: 250px;
  font-size: 50px;
}

h7 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 80px;
  text-align: left;
  margin-left: 40px;
}


/*    PHOTOS     */

.homepagepic {
  max-width: 100%;
}

.line {
  display: block;
 padding-left: 200px;
}

.related {
  display: block;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

hr{
  width: 130px;
  background-color: #c6bda5;
  height: 0.2px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}


/*   CONTENT 1 PHOTOS   */
.ditteimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.folkestol {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*   CONTENT 2 PHOTOS  */
.haytable{
 display: block;
  margin-right: auto;
  height: 250px;
  width: 350px;
  padding-left: 120px;
}

.glasscombo{
  padding-left: 120px;
  padding-bottom: 50px;

}

.pinkjug{
  float: right;
  margin-right:150px;
  padding-bottom: 40px;

}
/*   CONTENT 3 PHOTOS  */
.finishedframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.gallery{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/*  HOMEPAGE STYLING  */
.flex-container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 70px;
    padding-top: 20px;
}

.flex-container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    gap: 137px;
    padding-left: 69px;
    padding-top: 10px;
    line-height: 1.8;
}

/*  CONTENT 2 STYLING  */

/*  My first dinner party pics  */

.grid-container {
  display: grid;
  grid-template-columns: 300px 500px;
  grid-gap: 5px;
  padding-left: 200px;
}

.grid-container > div {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-align: right;
}

/*  GET THE LOOK 1  */
.flex-container5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 100px;
  padding-top: 20px;
  gap: 70px;
}

.flex-container6 {
  display: flex;
  flex-direction: row;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  padding-left: 100px;
  padding-top: 10px;
  line-height: 1.8;
  gap: 240px;
}

/* Glass as deco pics  */

.grid-container2 {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-gap: 290px;
  padding-left: 200px;
}

.grid-container2 > div {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  text-align: left;
}


/* GET THE LOOK 2  */
.flex-container7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 100px;
  padding-top: 20px;
  gap: 45px;
}

 .flex-container8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  padding-left: 100px;
  padding-right: 50px;
  padding-top: 10px;
  line-height: 1.8;
  gap: 290px;
}
 

/*  CONTENT 3 STYLING  */
.flex-container1 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      background-color: #c6bda5;
      padding-top: 60px;
      padding-bottom: 80px;
      margin-left: 230px;
      margin-right: 250px;
    }


.flex-container1 > div {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 12px;
      width: 630px;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
      padding-top: 20px;
      padding-bottom: 50px;
      padding-left: 20px;
      padding-right: 20px;
      line-height: 25px;
      background-color:white;
      align-items: center;
      }


/*  FOOTER STYLING  */

.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #c6bda5;
  height: 11rem;
}

.footerlogo{
  width: 25px;
  margin-top: 18px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.contact{
font-family: 'Josefin Sans', sans-serif;
text-align: center;
color: rgb(0, 0, 0);
}

.mailcontact{
  margin-top: 5px;
  margin-bottom: 10px;
}